{% extends 'base.html.twig' %}

{% block body %}


    <div class="container" >
        <div class="row" >



            <div class="col-sm-12 col-md-15">

                <h1 class="title">
                    My to-dos
                </h1>

                <form >
                    <div class="input-group mb-3" style="background-color: #111111">
                        <input type="text"
                               name="q"
                               class="form-control"
                               value="{{ app.request.query.get('q') }}"
                               placeholder="Search..."


                        >
                        <div class="input-group-append">
                            <button type="submit"
                                    class="btn btn-outline-secondary">
                                <span class="fa fa-search"></span>
                            </button>
                        </div>
                    </div>
                </form>

                {% for toDoItem in toDoItems %}
                    <div class="to-do-container my-1" >

                        <div class="article-title d-inline-block pl-3 align-middle">

                            <font size="4" class="to-do-item"><b><span>{{ toDoItem.name }}</span></b></font>
                            {% if toDoItem.calendarDate!=null %}
                                <medium>
                                    <span class="to-do-item">Start date: {{toDoItem.calendarDate|date("d/m/Y") }}</span>
                                </medium>
                            {% endif%}
                            <br>
                            <small>
                                <span class="to-do-item">{{ toDoItem.project.name }}</span>
                            </small>

                            <br>

                            {% for tag in toDoItem.tags %}
                                <small>
                                    <span class="badge badge-info">#{{ tag.name }}</span>
                                </small>
                            {% endfor %}
                        </div>
                        </a>
                    </div>
                {% else %}
                    <h2 class="title">No to-dos found</h2>
                {%  endfor %}



            </div>


        </div>
    </div>


{% endblock %}

