{{ form_start(toDoItemForm) }}
    {{ form_row(toDoItemForm.unprocessedToDO, {
    }) }}

    {{ form_row(toDoItemForm.project) }}

<button type="submit" class="btn btn-primary">{{ button_text }}</button>
{{ form_end(toDoItemForm) }}