{{ form_start(toDoItemForm) }}
    {{ form_row(toDoItemForm.name, {
        label: 'To-do item name'
    }) }}
    {{ form_row(toDoItemForm.description) }}

    {{ form_row(toDoItemForm.heading) }}

    {{ form_row(toDoItemForm.calendarDate)}}
    {{ form_row(toDoItemForm.deadline) }}
    {% if is_granted('ROLE_PRO') %}
        {{ form_row(toDoItemForm.tags.setRendered) }}
    {% else %}
        {{ form_row(toDoItemForm.tags) }}
    {% endif %}

    {{ form_row(toDoItemForm.project) }}

<button type="submit" class="btn btn-primary">{{ button_text }}</button>
{{ form_end(toDoItemForm) }}