{{ form_start(toDoItemForm) }}
    {{ form_row(toDoItemForm.name, {
        label: 'To-do item name'
    }) }}
    {{ form_row(toDoItemForm.description) }}
    {{ form_row(toDoItemForm.calendarDate)}}
    {{ form_row(toDoItemForm.deadline) }}
    {{ form_row(toDoItemForm.tags) }}
    {{ form_row(toDoItemForm.project) }}

<button type="submit" class="btn btn-primary">{{ button_text }}</button>
{{ form_end(toDoItemForm) }}