{% extends 'base.html.twig' %}

{% block body %}


    <div class="container" >

        <div class="weather-tip">
            Tip: {{ weather.suggestion }}
        </div>
        <div class="row" >



            <div class="col-sm-12 col-md-8">{#era 15#}




                <h1 class="title">
                    Today
                </h1>



                {% for toDoItem in toDoItems %}
                    {% if toDoItem.heading == null %}
                        <div class="to-do-container my-1" >

                            <div class="article-title d-inline-block pl-3 align-middle">

                                {% if toDoItem.done==false %}
                                    <label style="color:white">

                                        <input type="checkbox"  href="{{ path('to_do_toggle_check',
                                            {slug:toDoItem.slug}) }}"
                                               class="like-article js-like-article" >
                                    </label>
                                {% else %}
                                    <label style="color:white">
                                        <input type="checkbox" href="{{ path('to_do_toggle_check',
                                            {slug:toDoItem.slug}) }}"
                                               class="like-article js-like-article" checked>
                                    </label>
                                {% endif %}

                                <font size="4" class="to-do-item"><b><span>{{ toDoItem.name }}</span></b></font>
                                <br>
                                    <small>
                                        <span class="to-do-item">{{ toDoItem.project.name }}</span>
                                    </small>

                                <br>

                                {% for tag in toDoItem.tags %}
                                    <small>
                                        <span class="badge badge-info">#{{ tag.name }}</span>
                                    </small>
                                {% endfor %}
                            </div>
                            </a>
                        </div>

                    {% endif %}
                {%  endfor %}

                {% if is_granted('ROLE_PRO') %}
                    <h2 class="title">
                        This Evening
                    </h2>
                    {% for toDoItem in toDoItems %}
                        {% if toDoItem.heading != null %}
                            <div class="to-do-container my-1" >

                                <div class="article-title d-inline-block pl-3 align-middle">

                                    {% if toDoItem.done==false %}
                                        <label style="color:white">

                                            <input type="checkbox"  href="{{ path('to_do_toggle_check',
                                                {slug:toDoItem.slug}) }}"
                                                   class="like-article js-like-article" >
                                        </label>
                                    {% else %}
                                        <label style="color:white">
                                            <input type="checkbox" href="{{ path('to_do_toggle_check',
                                                {slug:toDoItem.slug}) }}"
                                                   class="like-article js-like-article" checked>
                                        </label>
                                    {% endif %}

                                    <font size="4" class="to-do-item"><b><span>{{ toDoItem.name }}</span></b></font>
                                    <br>
                                    <small>
                                        <span class="to-do-item">{{ toDoItem.project.name }}</span>
                                    </small>

                                    <br>

                                    {% for tag in toDoItem.tags %}
                                        <small>
                                            <span class="badge badge-info">#{{ tag.name }}</span>
                                        </small>
                                    {% endfor %}
                                </div>
                                </a>
                            </div>

                        {% endif %}
                    {%  endfor %}
                {% endif %}
            </div>

                <div class="col-sm-12 col-md-4 text-center">
                    <div class="quote-space pb-2 pt-2 px-5">

                        <h3 class="text-center pb-3">{{weather.locationName }} Weather Status</h3>

                        <div class="weather-forecast">

                            <div>{{ weather.condition }}: {{ weather.description }}</div>

                        </div>
                        <div class="weather-forecast">
                            <img
                                    src="http://openweathermap.org/img/w/{{ weather.icon }}.png"
                                    class="weather-icon" />
                            {{ weather.temperature|round }}°C
                        </div>
                        <div>

                            <div>Wind: {{ weather.windSpeed }} m/s</div>
                            <div>Clounds: {{ weather.cloudPercentage }} %</div>
                            <div>Visibility: {{ weather.visibility }} m</div>

                        </div>

                    </div>




                    </div>
                </div>





        </div>
    </div>


{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/to_do_check.js') }}"></script>
{% endblock %}