{% extends 'base.html.twig' %}

{% block body %}



    <div class="container" >
        <div class="row" >



            <div class="col-sm-12 col-md-15">

                <h1 class="title">
                    Upcoming
                </h1>

                {% for toDoItem in toDoItems %}
                    <div class="to-do-container my-1" >

                        <div class="article-title d-inline-block pl-3 align-middle">

                            {% if toDoItem.done==false %}
                                <label style="color:white">

                                    <input type="checkbox"  href="{{ path('to_do_toggle_check',
                                        {slug:toDoItem.slug}) }}"
                                           class="like-article js-like-article" >
                                </label>
                            {% else %}
                                <label style="color:white">
                                    <input type="checkbox" href="{{ path('to_do_toggle_check',
                                        {slug:toDoItem.slug}) }}"
                                           class="like-article js-like-article" checked>
                                </label>
                            {% endif %}



                            <font size="4" class="to-do-item"><b><span>{{ toDoItem.name }}</span></b></font>
                            <medium>
                                <span class="to-do-item">Start date: {{toDoItem.calendarDate|date("d/m/Y") }}</span>
                            </medium>
                            <br>
                            <small>
                                <span class="to-do-item">{{ toDoItem.project.name }}</span>
                            </small>

                            <br>

                            {% for tag in toDoItem.tags %}
                                <small>
                                    <span class="badge badge-info">#{{ tag.name }}</span>
                                </small>
                            {% endfor %}
                        </div>
                        </a>
                    </div>
                {%  endfor %}



            </div>


        </div>
    </div>


{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/to_do_check.js') }}"></script>
{% endblock %}